{% extends "layouts/base_auth.html" %}
{% load static %}

{% block content %}

    <div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="clearfix">
              <h1 class="float-start display-3 me-4">500</h1>
              <h4 class="pt-3">Houston, we have a problem!</h4>
              <p class="text-body-secondary">The page you are looking for is temporarily unavailable.</p>
            </div>
            <div class="input-group"><span class="input-group-text">
                <svg class="icon">
                  <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-magnifying-glass"></use>
                </svg></span>
              <input class="form-control" id="prependedInput" size="16" type="text" placeholder="What are you looking for?">
              <button class="btn btn-info" type="button">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}