{% extends "layouts/base_auth.html" %}
{% load static %}

{% block content %}

    <div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card-group d-block d-md-flex row">
              <div class="card col-md-7 p-4 mb-0">
                <div class="card-body">
                  <h1>Email Sent</h1>
                  <p class="text-body-secondary">An email has been sent to your email address. Please click the link and reset your password.</p>

                </div>
              </div>
              <div class="card col-md-5 text-white bg-primary py-5">
                <div class="card-body text-center">
                  <div>
                    <h2>Sign In</h2>
                    <p>Remember your password?</p>
                    <a href="{% url "login" %}" class="btn btn-lg btn-outline-light mt-3" type="button">Login Now!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}