{% extends "layouts/base_auth.html" %}
{% load static %}

{% block content %}

    <div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card-group d-block d-md-flex row">
              <div class="card col-md-7 p-4 mb-0">
                <form method="post" class="card-body">
                  {% csrf_token %}

                  <h1 class="mb-5">Reset Password</h1>

                  {% for field in form %}
                  <div class="input-group mb-4"><span class="input-group-text">
                      <svg class="icon">
                        <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-lock-locked"></use>
                      </svg></span>
                    {{ field }}
                  </div>
                  <small class="text-danger d-block mt-2">{{ field.errors }}</small>
                  {% endfor %}

                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-primary px-4" type="submit">Reset</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card col-md-5 text-white bg-primary py-5">
                <div class="card-body text-center">
                  <div>
                    <h2>Sign In</h2>
                    <p>Remember your password?</p>
                    <a href="{% url "login" %}" class="btn btn-lg btn-outline-light mt-3" type="button">Login Now!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}