{% extends "layouts/base_auth.html" %}
{% load static %}

{% block content %}

    <div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card mb-4 mx-4">
              <form method="post" class="card-body p-4">
                {% csrf_token %}

                <h1>Register</h1>
                <p class="text-body-secondary">Create your account</p>
                
                {% for field in form %}
                <div class="input-group mb-3"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="{% static "icons/sprites/free.svg" %}#{% if field.name == 'username' %}cil-user{% elif field.name == 'email' %}cil-envelope-open{% else %}cil-lock-locked{% endif %}"></use>
                    </svg></span>
                  {{ field }}
                </div>
                <small class="text-danger d-block mt-2">{{ field.errors }}</small>
                {% endfor %}
                <button class="btn btn-block btn-success" type="submit">Create Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}