{% load i18n static admin_material %}

<div class="sidebar sidebar-dark sidebar-fixed border-end" id="sidebar">
    <div class="sidebar-header border-bottom">
      <div class="sidebar-brand">
        <svg class="sidebar-brand-full" width="88" height="32" alt="CoreUI Logo">
          <use xlink:href="{% static "assets/brand/coreui.svg" %}#full"></use>
        </svg>
        <svg class="sidebar-brand-narrow" width="32" height="32" alt="CoreUI Logo">
          <use xlink:href="{% static "assets/brand/coreui.svg" %}#signet"></use>
        </svg>
      </div>
      <button class="btn-close d-lg-none" type="button" data-coreui-dismiss="offcanvas" data-coreui-theme="dark" aria-label="Close" onclick="coreui.Sidebar.getInstance(document.querySelector(&quot;#sidebar&quot;)).toggle()"></button>
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
      <li class="nav-item"><a class="nav-link" href="{% url "index" %}">
        <svg class="nav-icon">
          <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-speedometer"></use>
        </svg> Dashboard<span class="badge badge-sm bg-info ms-auto">NEW</span></a>
      </li>
    
      {% admin_get_menu as app_list %}
      {% if app_list %}
          {% for app in app_list %}
              {% if app.has_perms and not app.pinned %}
                <li class="nav-group">
                  <a class="nav-link nav-group-toggle" href="{{ app.url }}">
                    {% comment %} <span class="sidebar-icon {{ app.icon }}"></span> {% endcomment %}
                    <svg class="nav-icon">
                      <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-puzzle"></use>
                    </svg>
                    {{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}
                  </a>

                  {% if app.models %}
                    <ul class="nav-group-items compact">
                      {% for model in app.models %}
                        {% if model.url %}
                          <li class="nav-item">
                            <a class="nav-link" href="{{ model.url }}">
                              <span class="nav-icon">
                                <span class="nav-icon-bullet"></span>
                              </span> 
                              {{ model.label }}
                            </a>
                          </li>
                        {% else %}
                          <li class="nav-item">{{ model.label }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endif %}
          {% endfor %}
      {% endif %}

      <li class="nav-title">Theme</li>
      <li class="nav-item"><a class="nav-link" href="{% url "colors" %}">
          <svg class="nav-icon">
            <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-drop"></use>
          </svg> Colors</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url "typography" %}">
          <svg class="nav-icon">
            <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-pencil"></use>
          </svg> Typography</a></li>
        
      {% if request.user.is_authenticated %}
      <li class="nav-title">Components</li>
      <li class="nav-group">
        <a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-puzzle"></use>
          </svg> Base
        </a>
        <ul class="nav-group-items compact">
          <li class="nav-item"><a class="nav-link" href="{% url "accordion" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Accordion</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "breadcrumb" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Breadcrumb</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "cards" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Cards</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "carousel" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Carousel</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "collapse" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Collapse</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "list_group" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> List group</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "navs_tabs" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Navs &amp; Tabs</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "pagination" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Pagination</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "placeholders" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Placeholders</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "popovers" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Popovers</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "progress" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Progress</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "spinners" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Spinners</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "base_tables" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Tables</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "tooltips" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Tooltips</a></li>
        </ul>
      </li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-cursor"></use>
          </svg> Buttons</a>
        <ul class="nav-group-items compact">
          <li class="nav-item"><a class="nav-link" href="{% url "buttons" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Buttons</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "button_group" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Buttons Group</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "dropdowns" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Dropdowns</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="{% url "charts" %}">
          <svg class="nav-icon">
            <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-chart-pie"></use>
          </svg> Charts</a></li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-notes"></use>
          </svg> Forms</a>
        <ul class="nav-group-items compact">
          <li class="nav-item"><a class="nav-link" href="{% url "form_control" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Form Control</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "select" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Select</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "check_radios" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Checks and radios</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "range" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Range</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "input_group" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Input group</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "floating_labels" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Floating labels</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "layout" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Layout</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "validation" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Validation</a></li>
        </ul>
      </li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-star"></use>
          </svg> Icons</a>
        <ul class="nav-group-items compact">
          <li class="nav-item"><a class="nav-link" href="{% url "icons_free" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> CoreUI Icons<span class="badge badge-sm bg-success ms-auto">Free</span></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "icons_brand" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> CoreUI Icons - Brand</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "icons_flag" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> CoreUI Icons - Flag</a></li>
        </ul>
      </li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-bell"></use>
          </svg> Notifications</a>
        <ul class="nav-group-items compact">
          <li class="nav-item"><a class="nav-link" href="{% url "alerts" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Alerts</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "badge" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Badge</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "modals" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Modals</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "toasts" %}"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Toasts</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="{% url "widgets" %}">
          <svg class="nav-icon">
            <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-calculator"></use>
          </svg> Widgets<span class="badge badge-sm bg-info ms-auto">NEW</span></a></li>
      {% endif %}
      <li class="nav-divider"></li>
      <li class="nav-title">Extras</li>
      {% if not request.user.is_authenticated %}
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-star"></use>
          </svg> Pages</a>
        <ul class="nav-group-items compact">
          <li class="nav-item"><a class="nav-link" href="{% url "login" %}" target="_top">
              <svg class="nav-icon">
                <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-account-logout"></use>
              </svg> Login</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "register" %}" target="_top">
              <svg class="nav-icon">
                <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-account-logout"></use>
              </svg> Register</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "error_404" %}" target="_top">
              <svg class="nav-icon">
                <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-bug"></use>
              </svg> Error 404</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "error_500" %}" target="_top">
              <svg class="nav-icon">
                <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-bug"></use>
              </svg> Error 500</a></li>
        </ul>
      </li>
      {% endif %}
      <li class="nav-item mt-auto"><a class="nav-link" href="https://coreui.io/docs/templates/installation/" target="_blank">
          <svg class="nav-icon">
            <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-description"></use>
          </svg> Docs</a></li>
      <li class="nav-item"><a class="nav-link text-primary fw-semibold" href="https://coreui.io/product/bootstrap-dashboard-template/" target="_top">
          <svg class="nav-icon text-primary">
            <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-layers"></use>
          </svg> Try CoreUI PRO</a></li>
    </ul>
    <div class="sidebar-footer border-top d-none d-md-flex">     
      <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>
</div>