{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

    <div class="body flex-grow-1">
      <div class="container-lg px-4">
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header"><strong>Select</strong><span class="small ms-1">Default</span></div>
              <div class="card-body">
                <p class="text-body-secondary small">Custom <code>&lt;select&gt;</code> menus need only a custom class, <code>.form-select</code> to trigger the custom styles. Custom styles are limited to the <code>&lt;select&gt;</code>’s initial appearance and cannot modify the <code>&lt;option&gt;</code>s due to browser limitations.</p>
                <div class="example">
                  <ul class="nav nav-underline-border" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1000" role="tab">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                        </svg>Preview</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://coreui.io/docs/forms/select/#default" target="_blank">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                        </svg>Code</a></li>
                  </ul>
                  <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1000">
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header"><strong>Select</strong><span class="small ms-1">Sizing</span></div>
              <div class="card-body">
                <p class="text-body-secondary small">You may also choose from small and large custom selects to match our similarly sized text inputs.</p>
                <div class="example">
                  <ul class="nav nav-underline-border" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1001" role="tab">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                        </svg>Preview</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://coreui.io/docs/forms/select/#sizing" target="_blank">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                        </svg>Code</a></li>
                  </ul>
                  <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1001">
                      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>
                <p class="text-body-secondary small">The <code>multiple</code> attribute is also supported:</p>
                <div class="example">
                  <ul class="nav nav-underline-border" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1002" role="tab">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                        </svg>Preview</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://coreui.io/docs/forms/select/#sizing" target="_blank">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                        </svg>Code</a></li>
                  </ul>
                  <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1002">
                      <select class="form-select" multiple aria-label="multiple select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>
                <p class="text-body-secondary small">As is the <code>size</code> attribute:</p>
                <div class="example">
                  <ul class="nav nav-underline-border" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1003" role="tab">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                        </svg>Preview</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://coreui.io/docs/forms/select/#sizing" target="_blank">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                        </svg>Code</a></li>
                  </ul>
                  <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1003">
                      <select class="form-select" size="3" aria-label="size 3 select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header"><strong>Select</strong><span class="small ms-1">Disabled</span></div>
              <div class="card-body">
                <p class="text-body-secondary small">Add the <code>disabled</code> boolean attribute on a select to give it a grayed out appearance and remove pointer events.</p>
                <div class="example">
                  <ul class="nav nav-underline-border" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1004" role="tab">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                        </svg>Preview</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://coreui.io/docs/forms/select/#disabled" target="_blank">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                        </svg>Code</a></li>
                  </ul>
                  <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1004">
                      <select class="form-select" aria-label="Disabled select example" disabled>
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}