{% extends "layouts/base_auth.html" %}
{% load i18n static admin_material %}

{% block content %}

    <div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card-group d-block d-md-flex row">
              <div class="card col-md-7 p-4 mb-0">
                <form method="post" action="{{ app_path }}" class="card-body">
                  {% csrf_token %}

                  <h1>Login</h1>
                  <p class="text-body-secondary">Sign In to your account</p>

                  {% if form.non_field_errors %}
                    {% for error in form.non_field_errors  %}
                      <small class="text-danger d-block mb-3">{{ error }}</small>
                    {% endfor %}
                  {% endif %}


                  <div class="input-group mb-3">
                    <span class="input-group-text">
                      <svg class="icon">
                        <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-user"></use>
                      </svg>
                    </span>
                    <input 
                      type="text" 
                      class="form-control"
                      name="{{ form.username.name }}"
                      id="{{ form.username.id_for_label }}"
                      placeholder="Username"
                    >
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">
                      <svg class="icon">
                        <use xlink:href="{% static "icons/sprites/free.svg" %}#cil-lock-locked"></use>
                      </svg>
                    </span>
                    <input 
                      type="password" 
                      class="form-control"
                      name="{{ form.password.name }}"
                      id="{{ form.password.id_for_label }}"
                      placeholder="Password"
                    >
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-primary px-4" type="submit">Login</button>
                    </div>
                    
                  </div>
                </form>
              </div>
              <div class="card col-md-5 text-white bg-primary py-5">
                <div class="card-body text-center">
                  <div>
                    <h2>Sign up</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="{% url "register" %}" class="btn btn-lg btn-outline-light mt-3" type="button">Register Now!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block extra_js %}
    <script type="application/javascript">
        {% if form.username.errors %}
            notification.danger("{{ form.username.errors }}", 'top', 'right');
        {% endif %}
        {% if form.password.errors %}
            notification.danger("{{ form.password.errors }}", 'top', 'right');
        {% endif %}

        {% if user.is_authenticated %}
            var msg = "You are authenticated as {{ username }}, but are not authorized to " +
                "access this page.Would you like to login to a different account ?"
            notification.warning(msg, 'top', 'right');
        {% endif %}

        {% if form.errors and not form.non_field_errors %}
            {% if form.errors.items|length == 1 %}
                notification.warning("{% trans "Please correct the error below." %}", 'top', 'right');
            {% else %}
                notification.warning("{% trans "Please correct the errors below." %}", 'top', 'right');
            {% endif %}
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                notification.warning("{{ error|clean_text }}", 'top', 'right');
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}