{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

    <div class="body flex-grow-1">
      <div class="container-lg px-4">
        <div class="row row-cols-2">
          <div class="col">
            <div class="card mb-4">
              <div class="card-header"><strong>Chart</strong><span class="small ms-1">Line</span></div>
              <div class="card-body">
                <div class="example">
                  <ul class="nav nav-underline-border" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1000" role="tab">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                        </svg>Preview</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://www.chartjs.org/" target="_blank">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                        </svg>Code</a></li>
                  </ul>
                  <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1000">
                      <div class="c-chart-wrapper">
                        <canvas id="canvas-1"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4">
              <div class="card-header"><strong>Chart</strong><span class="small ms-1">Bar</span></div>
              <div class="card-body">
                <div class="example">
                  <ul class="nav nav-underline-border" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1001" role="tab">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                        </svg>Preview</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://www.chartjs.org/" target="_blank">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                        </svg>Code</a></li>
                  </ul>
                  <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1001">
                      <div class="c-chart-wrapper">
                        <canvas id="canvas-2"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4">
              <div class="card-header"><strong>Chart</strong><span class="small ms-1">Doughnut</span></div>
              <div class="card-body">
                <div class="example">
                  <ul class="nav nav-underline-border" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1002" role="tab">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                        </svg>Preview</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://www.chartjs.org/" target="_blank">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                        </svg>Code</a></li>
                  </ul>
                  <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1002">
                      <div class="c-chart-wrapper">
                        <canvas id="canvas-3"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4">
              <div class="card-header"><strong>Chart</strong><span class="small ms-1">Radar</span></div>
              <div class="card-body">
                <div class="example">
                  <ul class="nav nav-underline-border" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1003" role="tab">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                        </svg>Preview</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://www.chartjs.org/" target="_blank">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                        </svg>Code</a></li>
                  </ul>
                  <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1003">
                      <div class="c-chart-wrapper">
                        <canvas id="canvas-4"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4">
              <div class="card-header"><strong>Chart</strong><span class="small ms-1">Pie</span></div>
              <div class="card-body">
                <div class="example">
                  <ul class="nav nav-underline-border" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1004" role="tab">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                        </svg>Preview</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://www.chartjs.org/" target="_blank">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                        </svg>Code</a></li>
                  </ul>
                  <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1004">
                      <div class="c-chart-wrapper">
                        <canvas id="canvas-5"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4">
              <div class="card-header"><strong>Chart</strong><span class="small ms-1">Polar Area</span></div>
              <div class="card-body">
                <div class="example">
                  <ul class="nav nav-underline-border" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1005" role="tab">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                        </svg>Preview</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://www.chartjs.org/" target="_blank">
                        <svg class="icon me-2">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                        </svg>Code</a></li>
                  </ul>
                  <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1005">
                      <div class="c-chart-wrapper">
                        <canvas id="canvas-6"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block extra_js %}

    <script src="{% static "js/charts.js" %}"></script>

{% endblock extra_js %}